[submodule "Libraries/better-enums"]
	path = Libraries/better-enums
	url = https://github.com/aantron/better-enums
 
[submodule "Libraries/googletest"]
    path = Libraries/googletest
	url = https://github.com/google/googletest

[submodule "Libraries/Clara"]
	path = Libraries/Clara
	url = https://github.com/catchorg/Clara
