[submodule "Libraries/random"]
	path = Libraries/random
	url = https://github.com/effolkronium/random
[submodule "Libraries/pybind11"]
	path = Libraries/pybind11
	url = https://github.com/pybind/pybind11
[submodule "Libraries/tiny-dnn"]
	path = Libraries/tiny-dnn
	url = https://github.com/tiny-dnn/tiny-dnn
[submodule "Libraries/doctest"]
	path = Libraries/doctest
	url = https://github.com/onqtam/doctest
[submodule "Libraries/Lyra"]
	path = Libraries/Lyra
	url = https://github.com/bfgroup/Lyra