[submodule "Libraries/better-enums"]
	path = Libraries/better-enums
	url = https://github.com/aantron/better-enums
 
[submodule "Libraries/googletest"]
    path = Libraries/googletest
    url = http://www.github.com/google/googletest
[submodule "Libraries/flatbuffers"]
	path = Libraries/flatbuffers
	url = https://github.com/google/flatbuffers
